.indexSection > * {
  align-self:center;
}

.indexSection{
  min-height:calc(100vh - 55px);
  display:flex;
  justify-content:center;
  flex-direction:column;
  /* margin: 0 auto;
  margin-bottom: 50px; */
}

.searchBlock {
  max-width:500px;
  width:100%;
  display:flex;
  margin:0 0 25px 0;position:relative;
}

.searchInput {
  width:100%;
  padding:5px 10px 5px 5px;
  font-size:15px;
  font-weight:100;
  color:#000000;
  border:10px solid;
  border-image:url("../assets/img//border.png") 33;
  background-color:white;
  font-family:inherit;
  border-right:0;
  margin:3px 0;
  margin-right:-13px;
}

.searchBlock #word:focus + .searchLabel {
  display: none;
}

.searchSubmit {
  color: #2c2a2a;
  font-weight: 100;
  font-family: 'Oswald',sans-serif;
  background-image: url("../assets/img/search.png");
  background-size: auto 35px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
  width: 125px;
  border: 10px solid;
  border-image: url("../assets/img/border.png") 30;
  background-color: white;
  border-radius: 10px;
}

.searchSubmit:hover {
  background:no-repeat center/auto 35px url("../assets/img/search.png"),
   #fff url("../assets/img/fill.png") center/100%;
}

.searchBlock .searchLabel {
  position:absolute;
  top:50%;left:20px;
  transform:translateY(-50%);
}

.webDescription {
  margin:0;font-size:1.22em;
}

.libraryLink {
  position:relative;
  user-select:none;
  background-repeat:no-repeat;
  text-align:center;
  font-size:17px;
  line-height:35px;
  color:#000000;
  margin:0 auto;
  display:block;
  padding:0 20px;
  cursor:pointer;
  text-decoration:none;
  text-shadow:none;
  border:10px solid;
  border-image:url("../assets/img/border.png") 30;
  border-radius:10px;background-color:white;
}

.libraryLink:hover {
  background: #fff url('../assets/img/fill.png') 100%;
}

.description{
  max-width:500px!important;
  text-align: justify;
  margin-top: 50px;
  max-height: 34px;
  /* overflow: hidden; */
  /* max-width: 100%; */
}


.description a {
  color: #2c2a2a;
}

.description p {
  padding: 5px 0;
  margin: 0;
  line-height: 25px;
}

.description .spoiler {
  position: relative;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  color: #2c2a2a;
}

.description .spoiler:before {
  content: "+";
  display: block;
  width: 12px;
  height: 12px;
  font-size: 25px;
  line-height: 12px;
  color: #2c2a2a;
  margin-right: 5px;
  align-self: center;
}

.linkedInLink_body > a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  background: transparent;
  

}

.linkedInLink_body > a img{
  max-width:100%;
}

.linkedInLink_body{
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 10px;
  bottom: 10px;
}
